<div class="container">
<form class="search-form animate__animated animate__zoomIn" id="search-form">
  <input
    class="form__field"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="btn btn--primary btn--inside uppercase">Search</button>
  <button type="button" class="btn load-more btn--primary animate__animated animate__fadeInUp">Load more</button>
</form>
<div class="gallery">
  <!-- Карточки изображений -->
</div>
</div>